/* CSS resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------------------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  padding: 0.4rem;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #505050;
}

/* Header Component*/
header {
  height: 470px;
  color: #505050;
  text-align: center;
}

.header-container {
  text-align: center;
  padding: 55px 10px 55px 10px;
}

.nav-container {
  padding: 0 5px 0 5px;
}

.header-logo {
  font-size: 30px;
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main-nav li {
  margin: 3px;
  font-size: 1.3rem;
  list-style: none;
  background-color: white;
}

.profile-image {
  background-size: cover;
  max-width: 100%;
  width: 200px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 15px;
}

.hero-container {
  width: 100%;
  padding-bottom: 150px;
  max-width: 800px;
  width: 100%;
}

.about {
  float: left;
  height: 100px;
  margin: 35px 0 0 0;
}

/* --------------------------------------------------- */

/* Main Component */
.main-container {
  background-color: white;
  text-align: center;
  margin-top: 10em;
  padding: 50px 10px 50px 10px;
}

.main-container h3 {
  margin: 0 0 13px 0;
}

.main-container img {
  background-size: cover;
  max-width: 350px;
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 0;
}

.details {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

/* --------------------------------------------------- */
/* Footer Component */
footer {
  text-align: center;
  padding: 30px 5px 20px 5px;
}

footer h3 {
  padding: 5px 0 30px 0;
}

.phone {
  padding: 20px 0 5px 0;
}

.email {
  padding: 15px 0 30px 0;
}

.footer-nav {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 0px 0px 0px;
}

.footer-nav li {
  list-style: none;
  display: inline-block;
}

.footer-nav .footer-logo {
  padding-right: 20px;
}

.display {
  display: none;
}

.wrap {
  min-height: 100%;
}

/* --------------------------------------------------- */

@media (min-width: 768px) {
  /* ---- Header ---- */
  .main-nav li {
    display: inline-block;
    background-color: #f4f4f4;
    font-weight: bold;
  }
  .profile-image {
    background-size: cover;
    height: auto;
    float: right;
    width: 40%;
  }

  .about {
    font-size: 1.3em;
    float: left;
    width: 55%;
    height: 100%;
    text-align: left;
    margin: 35px 0 0 0;
  }

  .hero-container {
    padding: 0 50px 0 50px;
    max-width: 100%;
  }

  /* ---- Main Content ---- */
  .main-container {
    width: 100%;
    margin-top: 0;
  }
  .main-container img {
    background-size: cover;
    /* max-width: 350px; */
    width: 100%;
    max-height: 230px;
    height: 100%;
    padding: 20px 0 20px 0;
  }

  .portfolio {
    text-align: center;
    width: 100%;
    padding: 0 10px 0 10px;
    margin: 0 auto;
  }
  .col {
    float: left;
    width: 50%;
  }

  /* ---- footer Content ---- */
  footer {
    width: 100%;
  }
  footer p {
    margin: 0 auto;
    width: 50%;
  }

  .footer-logo {
    color: #505050;
    margin-right: 280px;
  }
  .start {
    display: none;
  }
  .display {
    display: inline-block;
    margin-left: 30px;
  }
  /* ---- Float clearfix ---- */
  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }
}

/* --------------------------------------------------- */
@media (min-width: 1024px) {
  /* ---- Header Content ---- */
  .header-container {
    height: 500px;
  }

  .hero-container {
    max-height: 400px;
  }

  .profile-image {
    height: 230px;
    width: 380px;
  }

  .hero-container {
    padding: 50px 20px 50px 20px;
  }

  .main-nav {
    width: 50%;
    text-align: right;
    float: right;
    padding-right: 20px;
  }

  .main-nav li {
    padding-left: 50px;
  }

  .header-logo {
    float: left;
    padding-left: 25px;
    text-align: left;
    width: 50%;
  }

  .hero-container {
    width: 100%;
  }

  .about {
    font-size: 1.8em;
  }

  .footer-logo {
    margin-right: 540px;
  }

  .main-container img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .col {
    float: left;
    padding-bottom: 25px;
    width: 33.33%;
  }

  .about {
    height: 100%;
  }
}
