/* CSS resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------------------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  padding: 0.4rem;
  background-color: #e8eff5;
}

h1,
h3 {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #505050;
}

/* Header Component*/
header {
  height: 470px;
  color: #505050;
  text-align: center;
}

.header-container {
  text-align: center;
  padding: 55px 10px 55px 10px;
}

.nav-container {
  padding: 0 5px 0 5px;
}

.header-logo {
  font-size: 30px;
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main-nav li {
  margin: 3px;
  font-size: 1.3rem;
  list-style: none;
  background-color: white;
}

/* Social content */
.social {
  transition: all 400ms;
  cursor: pointer;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  height: 50px;
  max-width: 80px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn i {
  font-size: 1.8em;
  color: #727272;
  transition: all 400ms;
}
.btn:hover i {
  transform: scale(0.96);
}

.btn:hover i {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
}

.profile-image {
  background-size: cover;
  max-width: 100%;
  width: 200px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 15px;
}

.hero-container {
  width: 100%;
  padding-bottom: 150px;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

.about {
  float: left;
  height: 100px;
  margin: 35px 0 0 0;
}

/* --------------------------------------------------- */

/* Main Component */
.main-container {
  color: white;

  /* Used an external website for gradient. cssgradient.io */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
  margin-top: 10em;
  border-radius: 25px;
  padding: 50px 10px 50px 10px;
}

.main-container h3 {
  margin: 0 0 13px 0;
}

.main-container img {
  background-size: cover;
  max-width: 350px;
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 0;
}

.details {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.network {
  width: 100%;
  margin-top: 50px;
}

i {
  display: inline-block;
}

/* --------------------------------------------------- */
/* Footer Component */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 30px 5px 50px 5px;
}

footer h3 {
  padding: 5px 0 30px 0;
}

.phone {
  padding: 20px 0 5px 0;
}

.email {
  padding: 15px 0 30px 0;
}

.footer-nav {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 0px 0px 0px;
}

.footer-logo {
  color: #505050;
}

.footer-nav li {
  list-style: none;
  display: inline-block;
}

.footer-nav .footer-logo {
  padding-right: 20px;
}

.display {
  display: none;
}

.wrap {
  min-height: 100%;
}

/* --------------------------------------------------- */

@media (min-width: 768px) {
  body {
    padding: 20px;
  }
  /* ---- Header ---- */
  .main-nav li {
    display: inline-block;
    background-color: #e8eff5;
    font-weight: bold;
  }

  .profile-image {
    background-size: cover;
    height: auto;
    float: right;
    width: 40%;
  }

  .about {
    font-size: 1.3em;
    float: left;
    width: 55%;
    height: 100%;
    text-align: left;
    margin: 35px 0 0 0;
  }

  .hero-container {
    max-width: 100%;
  }

  .social {
    display: inline-block;
    margin: 10px;
  }

  /* ---- Main Content ---- */
  .main-container {
    width: 100%;
    margin-top: 0;
  }
  .main-container img {
    background-size: cover;
    /* max-width: 350px; */
    width: 100%;
    max-height: 230px;
    height: 100%;
    padding: 20px 0 20px 0;
  }

  .portfolio {
    text-align: center;
    width: 100%;
    padding: 0 10px 0 10px;
    margin: 0 auto;
  }
  .col {
    float: left;
    width: 50%;
    padding-right: 10px;
  }

  /* ---- footer Content ---- */
  footer {
    width: 100%;
  }
  footer p {
    margin: 0 auto;
    width: 50%;
  }

  .footer-logo {
    color: #505050;
    margin-right: 280px;
  }
  .start {
    display: none;
  }
  .display {
    display: inline-block;
    margin-left: 30px;
  }
  /* ---- Float clearfix ---- */
  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }
}

/* --------------------------------------------------- */
@media (min-width: 1024px) {
  body {
    max-width: 1900px;
    padding: 50px;
  }
  /* ---- Header Content ---- */
  .header-container {
    height: 500px;
  }

  .hero-container {
    max-height: 400px;
  }

  .profile-image {
    height: 230px;
    width: 380px;
  }

  .hero-container {
    padding: 50px 20px 50px 20px;
  }

  .main-nav {
    width: 50%;
    text-align: right;
    float: right;
    padding-right: 20px;
  }

  .main-nav li {
    padding-left: 50px;
  }

  .header-logo {
    float: left;
    padding-left: 25px;
    text-align: left;
    width: 50%;
  }

  .hero-container {
    width: 100%;
  }

  .about {
    font-size: 1.8em;
  }

  .footer-logo {
    margin-right: 540px;
  }

  /* ---- Main Content ---- */

  .main-container img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .col {
    float: left;
    padding-bottom: 25px;
    width: 33.33%;
  }

  .about {
    height: 100%;
  }
}
